body{
    margin: 0;
    padding: 0;
    background-image: url('https://live-production.wcms.abc-cdn.net.au/73419a11ea13b52c6bd9c0a69c10964e?impolicy=wcms_crop_resize&cropH=1080&cropW=1918&xPos=1&yPos=0&width=862&height=485');
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.login-box{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
}
.login-box h2{
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}
.login-box input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
.login-box button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-box-hover{
    background-color: darkblue;
}